{{#section 'css'}}
<link rel="stylesheet" href="/static/css/home-articleList/articleListByCat.css">
<style nonce="{{nonce}}">
    .main-container {
        width: 950px;
        background-color: #FFFFFF;
    }

    .article-list {
        width: 900px;
    }

    .article-row {
        border-radius: 10px;
    }

    .article-thumb {
        object-fit: cover;
        width: 200px;
        height: 100%;
    }

    .premium-badge {
        border-radius: 10px;
        background-color: #E0B01F;
    }

    .publish-date {
        background-color: #D1D3D8;
        font-style: italic;
    }
</style>
{{/section}}


<div class="my-4 mx-auto p-3 rounded main-container">
    <div class="d-flex category-list align-items-center pb-3 border-bottom">
        <div class="category-list__vertical-line"></div>
        <h6 class="mb-0 mx-3 category-list__category category-list__category--parent">Mới nhất</h6></a>
    </div>
    <h2 class="px-3 mt-2 mb-0">
    </h2>
    <div class="mt-2 px-3 article-list">
        {{#each this.articles}}
        <div class="row mb-3 border-bottom py-3 article-row">
            <div class="col-3">
                <a href="/article?id={{article_id}}">
                    <img src="{{main_thumb}}" class="rounded article-thumb" />
                </a>
            </div>
            <div class="col-9 px-2 ps-0 d-flex flex-column">
                <div class="d-flex justify-content-between">
                    <p class="mb-0 article-text d-flex">
                        {{#each categoryList}}
                        <a href="/cat?catId={{category_id}}" class="category-link me-4">{{name}}</a>
                        {{/each}}
                    </p>
                    {{#if is_premium}}
                    <div class="px-2 d-flex align-items-center premium-badge">
                        <img src="/others/service.png" class="me-1" width="20" height="20" />
                        <span class="text-white fw-bold"> Premium</span>
                    </div>
                    {{/if}}
                </div>
                {{!-- Thêm link vào bài viết sau nhe --}}
                <a class="fw-bold article-title" href="/article?id={{article_id}}">{{title}}</a>
                <div class="article-text mt-1">{{abstract}}</div>
                <div class="row mt-2">
                    <p class="mb-0 col-7 article-text mt-auto">
                        {{#each tagList}}
                        <a href="/tag?tagId={{tag_id}}" class="badge rounded-pill bg-light me-2 mt-auto">{{name}}</a>
                        {{/each}}
                    </p>
                    <div class="col-5 px-1 mt-1">
                        <div class="text-center rounded publish-date">
                            {{this.publish_date}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
        <nav>
            <ul class="pagination d-flex justify-content-center flex-wrap pagination-rounded-flat pagination-success">
                <li class="page-item"><a class="page-link" href="/newest?&page={{this.prevPage}}" data-abc="true"><i
                            class="fa fa-angle-left"></i></a>
                </li>
                {{#each this.page_items}}
                {{#if active}}
                <li class="page-item active"><a class="page-link" href="#" data-abc="true">{{value}}</a></li>
                {{else}}
                <li class="page-item "><a class="page-link" href="/newest?&page={{value}}" data-abc="true">{{value}}</a>
                </li>
                {{/if}}
                {{/each}}
                <li class="page-item ">
                    <a class="page-link" href="/newest?&page={{this.nextPage}}" data-abc="true"><i
                            class="fa fa-angle-right"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>