{{#section 'css'}}
<style nonce="{{nonce}}">
    .breadcrumb-item+.breadcrumb-item::before {
        content: "|";
    }

    .category-link {
        text-decoration: none;
        color: #6C757D;
    }

    .category-link:hover {
        text-decoration: none;
        color: red;
    }

    .tag-link:hover {
        cursor: pointer;
    }

    .next-button {
        margin-right: 20px;
        border-radius: 5px;
        background: radial-gradient(circle, red, lightgray);
    }

    .relevant-title {
        color: #6C757D;
    }

    .relevant-title:hover {
        color: #000000;
        text-decoration: none;
    }

    /* Moved inline styles to classes */
    .article-container {
        width: 730px;
    }

    .article-card {
        border-radius: 10px;
        border: none;
    }

    .tag-list {
        list-style: none;
        display: flex;
        align-items: center;
        padding: 0 0 0 10px;
        margin: 0;
        margin-top: 5px;
    }

    .tag-icon {
        margin-right: 5px;
        margin-top: 5px;
    }

    .tag-badge {
        font-weight: 400;
    }

    .article-title {
        font-weight: bolder;
        margin: 0;
        margin-top: 15px;
    }

    .download-btn {
        float: right;
        border-radius: 5px;
        background: #ffc107;
        border: none;
    }

    .download-icon {
        margin-right: 5px;
    }

    .no-margin {
        margin: 0;
    }

    .no-border {
        border: none;
    }

    .comment-section-title {
        font-weight: bolder;
        margin-left: 10px;
        margin-bottom: 0;
    }

    .comment-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .comment-textarea {
        display: block;
        margin: 0 auto;
        width: 620px;
        height: 100px;
        resize: none;
        padding: 12px 30px 12px 12px;
    }

    .comment-submit-btn {
        align-self: flex-end;
        background-color: red;
        color: white;
        border-radius: 5px;
        border: none;
        padding: 5px 15px;
    }

    .comment-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .comment-item {
        background-color: #F0F0F0;
        border-radius: 10px;
        margin-bottom: 15px;
    }

    .comment-header {
        border-bottom: 1px solid lightgray;
    }

    .comment-author {
        margin: 0;
        font-weight: bolder;
    }

    .comment-date {
        font-weight: lighter;
    }

    .comment-content {
        padding-right: 20px;
    }

    .comment-text {
        margin-bottom: 0px;
    }

    .relevant-article-container {
        background-color: transparent;
        text-decoration: none;
        border: none;
        width: 560px;
        padding-right: 0px;
    }

    .relevant-article-image {
        object-fit: cover;
        width: 250px;
        height: 170px;
        border-radius: 10px;
    }

    .relevant-article-content {
        margin-left: 10px;
    }

    .next-icon {
        font-size: 30px;
    }

    .article-divider {
        border-bottom: 1px solid #DFDFDF;
    }

    .article-footer {
        border-bottom: none;
    }
</style>
{{/section}}

<div class="container-fluid mt-4 mb-5 article-container">
    <div class="card article-card">
        <div class="card-body">
            <div class="list-group list-group-flush">
                <div class="list-group-item no-border">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            {{#each this.article.categories}}
                            <li class="breadcrumb-item active">
                                <a href="/cat?catId={{id}}" class="category-link">
                                    {{name}}
                                </a>
                            </li>
                            {{/each}}
                        </ol>
                    </nav>
                    <ul class="tag-list">
                        <i class="fas fa-tags fa-sm fa-fw tag-icon"></i>
                        {{#each this.article.tags}}
                        <li>
                            <a href="/tag?tagId={{id}}" class="badge badge-pill badge-light tag-link tag-badge">
                                {{name}}
                            </a>
                        </li>
                        {{/each}}
                    </ul>

                    <h3 class="card-title article-title">
                        {{this.article.title}}
                    </h3>

                    <a href="/download-pdf?id={{this.article.id}}" class="btn btn-danger mt-3 download-btn">
                        <i class="fas fa-download fa-sm fa-fw download-icon"></i>
                        Tải bài báo
                    </a>
                </div>

                <div class="list-group-item d-flex align-items-center justify-content-between">
                    <p class="no-margin">
                        <i class="bi bi-vector-pen"></i>
                        {{this.article.writer_pseudonym}}
                    </p>

                    <small>
                        Đăng ngày:
                        {{formatSimpleDatetime this.article.publish_date}}
                    </small>
                </div>

                <div class="list-group-item font-weight-bold py-2 no-border">
                    {{this.article.abstract}}
                </div>

                <div class="list-group-item">
                    <div class="d-flex justify-content-center">
                        <img src="{{this.article.main_thumb}}" class="d-block w-100 h-100" alt="Photo">
                    </div>
                </div>

                <div class="list-group-item">
                    {{{this.article.content}}}
                </div>

                <div class="list-group-item no-border">
                    <div class="list-group-item d-flex align-items-center no-border">
                        <i class="fas fa-comments fa-lg fa-fw text-danger"></i>
                        <h5 class="text-danger comment-section-title">
                            Bình luận ({{this.commentCount}})
                        </h5>
                    </div>

                    <form action="/newComment?articleId={{this.article.id}}" method="post" class="comment-form">
                        <input type="hidden" name="_csrf" value="{{csrfToken}}">
                        <textarea id="" name="comment" placeholder="Hãy chia sẻ cảm nghĩa của bản thân..."
                            class="comment-textarea"></textarea>

                        <button type="submit" class="comment-submit-btn">
                            <i class="fas fa-paper-plane fa-sm fa-fw download-icon"></i>
                            Gửi bình luận
                        </button>
                    </form>
                </div>

                <div class="list-group-item mt-2 article-divider">
                    <ul class="comment-list">
                        {{#each this.comments}}
                        <li class="pt-2 pb-4 px-4 comment-item">
                            <div class="d-flex align-items-center justify-content-between mb-2 comment-header">
                                <p class="comment-author">{{user}}</p>
                                <small class="comment-date">{{formatSimpleDatetime date}}</small>
                            </div>

                            <div class="comment-content">
                                <p class="comment-text">
                                    {{content}}
                                </p>
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>

        <div class="card-body pt-0 pb-4">
            <div class="list-group list-group-flush">
                <div class="list-group-item d-flex align-items-center article-footer">
                    <i class="fas fa-newspaper fa-lg fa-fw text-danger"></i>
                    <h5 class="text-danger comment-section-title">
                        Tin cùng chuyên mục
                    </h5>
                </div>

                {{#if this.noRelevantArticles}}
                <div class="text-center py-5 text-secondary">
                    Hiện tại không có bài viết khác cùng chuyên mục.
                </div>
                {{else}}

                <div id="carouselIdsamecate" class="carousel slide" data-ride="carousel" data-interval="3000">
                    <div class="carousel-inner">
                        {{#each this.relevantArticles}}
                        <div class="carousel-item {{#if @first}}active{{/if}}">
                            <div href="#"
                                class="list-group-item list-group-item-action d-flex relevant-article-container">
                                <a href="">
                                    <img src="{{main_thumb}}" alt="Photo" class="relevant-article-image">
                                </a>
                                <div class="d-flex w-100 flex-column justify-content-between relevant-article-content">
                                    <a href="/article?id={{id}}" class="relevant-title">
                                        <h5 class="mb-1">
                                            {{title}}
                                        </h5>
                                    </a>
                                    <small>{{formatSimpleDatetime publish_date}}</small>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                        <button class="carousel-control-next" type="button" data-target="#carouselIdsamecate"
                            data-slide="next">
                            <i class="bi bi-arrow-right-square-fill text-danger next-icon"></i>
                        </button>
                    </div>
                </div>

                {{/if}}
            </div>
        </div>
    </div>
</div>