{{#section 'css'}}

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />

<link rel="stylesheet" href="/static/css/account-information/role-register.css">

<style nonce="{{nonce}}">
    .container-rounded {
        border-radius: 10px;
    }

    .header-border {
        border-bottom: 1px solid #EEEEEE;
    }

    .title-text {
        font-weight: bold;
    }

    .content-container {
        width: 700px;
        margin: auto;
    }

    .status-icon {
        width: 40px;
        height: 40px;
    }

    .illustration-image {
        width: 250px;
        height: 250px;
    }

    .highlight-text {
        color: #ED1C24;
    }

    .link-underline {
        text-decoration: underline;
    }

    .back-button {
        border-radius: 10px;
    }

    .back-icon {
        width: 25px;
        height: 25px;
    }

    .submit-button {
        border-radius: 10px;
    }

    .submit-icon {
        width: 30px;
        height: 30px;
    }

    .tag-container {
        border-radius: 20px;
        border: 1px solid #464E5F;
    }

    .tag-text {
        min-width: 100px;
    }
</style>

{{/section}}

{{#section 'js'}}


<script nonce="{{nonce}}" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script nonce="{{nonce}}" src="https://twitter.github.io/typeahead.js/js/handlebars.js"></script>
<script nonce="{{nonce}}" src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

{{/section}}


<div class="bg-white container-rounded">
    <div class="p-4 d-flex align-items-center header-border">
        {{#if this.isAccepted}}
        <h5 class="mb-0 title-text">Đơn đăng ký của bạn đã được tiếp nhận, chúng tôi sẽ cố gắng phê duyệt sớm nhất</h5>
        <img src="/others/laughing.png" class="ms-3 status-icon" />
        {{else if this.isWriter}}
        <h5 class="mb-0 title-text">Bạn đang là một phóng viên, hãy tiếp tục phát huy sở trường của mình</h5>
        <img src="/others/laughing.png" class="ms-3 status-icon" />
        {{else if this.isEditor}}
        <h5 class="mb-0 title-text">Bạn đang là một Editor, hãy tiếp tục kiểm duyệt nội dung một cách tốt nhất</h5>
        <img src="/others/laughing.png" class="ms-3 status-icon" />
        {{else}}
        <h5 class="mb-0 title-text">Đăng ký vai trò bạn muốn để cùng chúng tôi xây dựng những bài báo chất lượng</h5>
        <img src="/others/partners.png" class="ms-3 status-icon" />
        {{/if}}
    </div>

    <div class="content-container mt-3 pb-5">
        {{#if this.isAccepted}}
        <div class="text-center">
            <img src="/others/unchecked.png" class="illustration-image" />
            <div class="highlight-text fw-bold me-3 mt-3">
                Đơn đăng ký của bạn đang được xem xét
            </div>
        </div>
        <div class="text-center mt-5">
            <img src="/others/time-management.png" class="illustration-image" />
            <div class="highlight-text fw-bold me-3 mt-3">
                Trong thời gian chờ đợi hãy xem những tin tức <a href="/" class="link-underline">mới nhất</a> nhé!
            </div>
        </div>
        {{else if this.isWriter}}
        <div class="text-center">
            <img src="/others/writing.png" class="illustration-image" />
            <div class="highlight-text fw-bold me-3 mt-3">
                Đi đến <a href="/writer" class="link-underline">nơi làm việc</a> của bạn
            </div>
        </div>
        <form method="post" action="/account/role-register/writer" class="mt-5">
            <div class="d-flex justify-content-center">
                <a href="/account" class="btn-danger btn px-3 mx-3 back-button">
                    <img src="/others/back.png" class="back-icon">
                    Quay lại
                </a>
                <button type="submit" class="btn-success btn px-3 submit-button">
                    <img src="/others/upload.png" class="submit-icon">
                    Gửi đơn
                </button>
            </div>
        </form>
        {{else if this.isEditor}}
        <div class="text-center">
            <img src="/others/content-creation.png" class="illustration-image" />
            <div class="highlight-text fw-bold me-3 mt-3">
                Đi đến <a href="/editor" class="link-underline">nơi làm việc</a> của bạn
            </div>
        </div>
        <form method="post" action="/account/role-register/editor" class="mt-5">
            <div class="d-flex justify-content-center">
                <a href="/account" class="btn-danger btn px-3 mx-3 back-button">
                    <img src="/others/back.png" class="back-icon">
                    Quay lại
                </a>
                <button type="submit" class="btn-success btn px-3 submit-button">
                    <img src="/others/upload.png" class="submit-icon">
                    Gửi đơn
                </button>
            </div>
        </form>
        {{else}}
        <div class="text-center">
            <img src="/others/content-creation (1).png" class="illustration-image" />
            <div class="highlight-text fw-bold me-3 mt-3">
                Chọn vai trò bạn muốn đăng ký
            </div>
            {{#each this.categories}}
            <div class="mx-2 p-2 tag-container">
                <div class="fw-bold text-center tag-text">{{name}}</div>
            </div>
            {{/each}}
            <div class="highlight-text fw-bold me-3 mt-3">
                Đi đến <a href="/editor" class="link-underline">nơi làm việc</a> của bạn
            </div>
        </div>
        <div class="text-center mt-5">
            <img src="/others/writer.png" class="illustration-image" />
            <div class="highlight-text fw-bold me-3 mt-3">
                Đi đến <a href="/writer" class="link-underline">nơi làm việc</a> của bạn
            </div>
        </div>
        {{/if}}
    </div>
</div>