{{#section 'css'}}
<style nonce="{{nonce}}">
    .main-container {
        width: 1280px;
        margin: auto;
    }

    .article-container {
        width: 730px;
    }

    .sticky-control {
        position: sticky;
        top: 10px;
        align-self: flex-start;
    }

    .optgroup-header {
        font-weight: 500;
        font-size: medium;
    }

    .option {
        margin-left: 15px;
    }

    .file-preview-image {
        object-fit: cover !important;
        width: 100% !important;
        height: 100% !important;
    }

    .edit-heading {
        color: #6B6869;
        font-size: 18px;
    }

    .preview-container {
        margin-top: 10px;
        display: none;
    }

    .preview-image {
        max-width: 100%;
        height: auto;
        object-fit: cover;
    }
</style>
{{/section}}

{{#section 'js'}}
{{!-- Phần này để cho select được nhiều category một lúc --}}
<script nonce="{{nonce}}">
    new TomSelect('#selectCat', {
        plugins: ['remove_button'],
    });
    new TomSelect('#selectTag', {
        plugins: ['remove_button'],
    });
</script>

{{!-- WYSIWYG --}}
<script nonce="{{nonce}}">
    tinymce.init({
        selector: '#txtContent',
        height: 800,
        plugins: 'image link autolink lists table media wordcount',
        automatic_uploads: true,
        images_upload_url: '/writer/upload-image?id={{this.draft.id}}',
        menubar: false,
        toolbar: [
            'undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright | forecolor backcolor | table link image media',
        ],
        toolbar_sticky: true,
        language: 'vi',
        setup: function (editor) {
            editor.on('init', function () {
                // Cài đặt nội dung mặc định khi editor được khởi tạo
                const content = `{{{this.draft.content}}}`; // Dùng triple curly braces để tránh escape HTML
                editor.setContent(content);
            });
        },
    });
</script>

{{!-- file input --}}
<script nonce="{{nonce}}">
    $(document).ready(function () {
        const existingThumbnail = '{{this.draft.main_thumb}}'; // Đường dẫn ảnh từ server
        if (existingThumbnail) {
            $('#preview-image').attr('src', existingThumbnail); // Hiển thị ảnh
            $('#preview-container').show(); // Hiển thị khung preview
        }
    });

    $('#fileThumbnail').fileinput({
        allowedFileExtensions: ['jpg', 'png', 'webp', 'gif'],
        language: 'vi',
        dropZoneEnabled: false,
        showPreview: false,
        showUpload: false,
        showRemove: false,
    });

    $('#fileThumbnail').on('change', function (event) {
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();

            reader.onload = function (e) {
                // Set ảnh vào trong khung preview
                $('#preview-image').attr('src', e.target.result);
                $('#preview-container').show();  // Hiển thị khung preview
            };

            reader.readAsDataURL(file); // Đọc ảnh dưới dạng URL
            $('#hiddenMainThumb').val(''); // Xóa giá trị cũ
        }
    });
</script>

{{!-- sweat alert --}}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" nonce="{{nonce}}"></script>
<script nonce="{{nonce}}">
    $('#delButton').on('click', function (e) {
        e.preventDefault();
        const href = $(this).attr('href'); // Lấy đường dẫn từ thẻ a

        Swal.fire({
            title: 'Xóa bài viết!',
            text: 'Bài viết sẽ bị xóa vĩnh viễn và không thể được khôi phục!',
            icon: 'warning',
            confirmButtonText: 'Tôi đã hiểu',
            confirmButtonColor: '#DC3545',
            showCancelButton: true,
            cancelButtonText: 'Quay lại',
            cancelButtonColor: '#5A6268',
            focusCancel: true,
        }).then((result) => {
            if (result.isConfirmed) {
                // Điều hướng đến đường dẫn khi xác nhận
                window.location.href = href;
            }
        });
    });

    $('#articleForm').on('submit', async function (e) {
        e.preventDefault();

        await Swal.fire({
            title: 'Xác nhận lưu?',
            icon: 'question',
            showCancelButton: true,
            cancelButtonText: 'Quay lại',
            cancelButtonColor: '#5A6268',
            focusCancel: true,
        }).then((result) => {
            if (result.isConfirmed) {
                // Điều hướng đến đường dẫn khi xác nhận
                this.submit();
            }
        });
    });

    $('#subButton').on('click', function (e) {
        e.preventDefault();
        const href = $(this).attr('href'); // Lấy đường dẫn từ thẻ a

        Swal.fire({
            title: 'Xác nhận đưa kiểm duyệt?',
            icon: 'info',
            showCancelButton: true,
            cancelButtonText: 'Quay lại',
            cancelButtonColor: '#5A6268',
            focusCancel: true,
        }).then((result) => {
            if (result.isConfirmed) {
                // Điều hướng đến đường dẫn khi xác nhận
                window.location.href = href;
            }
        });
    });
</script>
{{/section}}

<div class="main-container d-flex mt-5 mb-5">
    <form id="articleForm" class="mx-auto" action="/writer/save-draft?id={{this.draft.id}}" method="post"
        enctype="multipart/form-data">
        <div class="wrapper d-flex mx-auto">
            {{!-- Thanh điều khiển quay lại lưu xóa --}}
            <div class="sticky-control bg-light p-2 me-3 rounded">
                {{#if isAdmin}}
                <a href="/admin/articles" type="button" class="btn btn-secondary mb-2">
                    <i class="bi bi-reply"></i>
                </a> <br>
                {{else}}
                <a href="/writer/manage-articles" type="button" class="btn btn-secondary mb-2">
                    <i class="bi bi-reply"></i>
                </a> <br>
                {{/if}}

                <a href="/writer/del-draft?id={{this.draft.id}}" type="button" id="delButton"
                    class="btn btn-danger mb-2">
                    <i class="bi bi-trash3"></i>
                </a> <br>
                <button type="submit" class="btn btn-primary mb-2">
                    <i class="bi bi-floppy-fill"></i>
                </button> <br>

                {{#if isAdmin}}
                <a href="/admin/articles/publish-right-now?id={{this.draft.id}}" type="button"
                    class="btn btn-secondary mb-2">
                    <i class="bi bi-file-earmark-arrow-up-fill"></i>
                </a> <br>
                {{else}}
                <a href="/writer/submit-draft?id={{this.draft.id}}" type="button" id="subButton"
                    class="btn btn-secondary mb-2">
                    <i class="bi bi-file-earmark-arrow-up-fill"></i>
                </a> <br>
                {{/if}}
            </div>

            <div class="article-container">
                <h4 class="ms-4 mb-2 edit-heading"><b>Chỉnh sửa bài viết</b></h4>
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="txtTitle">Tiêu đề</label>
                            <input type="text" class="form-control" id="txtTitle" name="title"
                                value="{{this.draft.title}}" required>
                        </div>

                        <div class="form-group">
                            <label for="txtAbstract">Tóm tắt</label>
                            <textarea class="form-control" id="txtAbstract" name="abstract" rows="3"
                                required>{{this.draft.abstract}}</textarea>
                        </div>

                        <div class="form-group">
                            <label for="selectCat">Chuyên mục</label>
                            <select id="selectCat" name="categories[]" multiple required>
                                {{#each this.categories}}
                                <optgroup label="{{name}}" class="optgroup-header">
                                    {{#each subcategories}}
                                    <option value="{{id}}" class="option" {{#if selected}}selected{{/if}}>
                                        {{name}}
                                    </option>
                                    {{/each}}
                                </optgroup>
                                {{/each}}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="selectTag">Tag</label>
                            <select id="selectTag" name="tags[]" multiple required>
                                {{#each this.tags}}
                                <option value="{{id}}" {{#if selected}}selected{{/if}}>{{name}}</option>
                                {{/each}}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="fileThumbnail">Ảnh đại diện</label>
                            <input type="file" class="form-control-file" id="fileThumbnail" name="thumbnail">
                            <input type="hidden" name="main_thumb" id="hiddenMainThumb"
                                value="{{this.draft.main_thumb}}">
                            <div id="preview-container" class="preview-container">
                                <img id="preview-image" class="preview-image">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="txtContent">Nội dung</label>
                            <textarea id="txtContent" name="content"></textarea>
                        </div>

                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="isPremium" name="is_premium" {{#if
                                this.draft.is_premium}}checked{{/if}}>
                            <label class="form-check-label" for="isPremium">Bài viết premium</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>