{{#section 'css'}}
<style nonce="{{nonce}}">
    .articles-container {
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }

    .article-title {
        display: block;
        white-space: nowrap;
        max-width: 150px;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .table-scroll {
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 694px;
    }

    .status-button {
        font-size: 11px;
        min-width: 110px;
    }

    .premium-badge {
        border-radius: 10px;
    }

    .premium-paid {
        background-color: #E0B01F;
    }

    .premium-free {
        background-color: #25CD7F;
    }

    .badge-icon {
        width: 20px;
        height: 20px;
    }
</style>
{{/section}}

<div class="container mt-4 p-4 articles-container">
    <!-- Tìm kiếm và lọc -->
    {{!-- Đoạn này đang hard code --}}
    <div class="row mb-3">
        <div class="col-md-4">
            <input type="text" id="searchInput" class="form-control" placeholder="Tìm kiếm bài viết theo tiêu đề...">
        </div>
        <div class="col-md-2">
            <select id="tagFilter" class="form-control">
                <option value="">Tất cả thẻ</option>
                <option value="technology">Công nghệ</option>
                <option value="lifestyle">Đời sống</option>
                <option value="education">Giáo dục</option>
            </select>
        </div>
        <div class="col-md-2">
            <select id="categoryFilter" class="form-control">
                <option value="">Tất cả chuyên mục</option>
                <option value="news">Tin tức</option>
                <option value="blog">Blog</option>
                <option value="review">Đánh giá</option>
            </select>
        </div>
        <div class="col-md-2">
            <select id="dateFilter" class="form-control">
                <option value="">Tất cả thời gian</option>
                <option value="last24h">Trong 24 giờ qua</option>
                <option value="last7days">Trong 7 ngày qua</option>
                <option value="last30days">Trong 30 ngày qua</option>
            </select>
        </div>
        <div class="col-md-2 text-end">
            <a href="/writer/create-new" class="btn btn-primary">Thêm bài viết</a>
        </div>
    </div>

    <!-- Danh sách bài viết -->

    <div class="table-responsive table-scroll">
        <table class="table table-bordered">
            <thead>
                <tr class="text-center">
                    <th>Tiêu đề</th>
                    <th>Chuyên mục</th>
                    <th>Tag</th>
                    <th>Ngày xuất bản</th>
                    {{!-- Trạng thái của bài viết như là đã được duyệt chưa hay đang chờ để duyệt --}}
                    <th>Trạng thái</th>
                    <th>Premium</th>
                    <th>Hành động</th>
                </tr>
            </thead>
            {{!-- Logic hiển thị các bài viết dưới này --}}
            <tbody>

                {{#each this.articlesList}}
                <tr>
                    <td>
                        <div class="article-title fw-bold">
                            {{title}}
                        </div>
                    </td>

                    <td>{{#each categoryList}}
                        <span class="badge rounded-pill bg-success m-1">{{name}}</span>
                        {{/each}}
                    </td>
                    <td>{{#each tagList}}
                        <span class="badge rounded-pill bg-info m-1">{{name}}</span>
                        {{/each}}
                    </td>
                    <td>{{publish_date}}</td>
                    <td>
                        {{#if is_available}}
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="btn btn-success fw-bold status-button">
                                Đã xuất bản
                            </div>
                        </div>

                        {{else}}
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="btn btn-danger fw-bold status-button">
                                Chưa xuất bản
                            </div>
                        </div>

                        {{/if}}
                    </td>
                    <td> {{#if is_premium}}
                        <div class="px-2 d-flex align-items-center premium-badge premium-paid">
                            <img src="/others/service.png" class="me-1 bg-icon" />
                            <span class="text-white fw-bold">Tính phí</span>
                        </div>
                        {{else}}
                        <div class="px-2 d-flex align-items-center premium-badge premium-free">
                            <img src="/others/free.png" class="me-1 bg-icon" />
                            <span class="text-white fw-bold">Miễn Phí</span>
                        </div>
                        {{/if}}
                    </td>
                    <td>
                        <!--                        Link sửa bài vào đây-->
                        <a class="btn btn-outline-primary px-1 py-0" href="/writer/edit-article?id={{id}}">
                            <i class="bi bi-pencil-square"></i>
                        </a>

                        <a class="btn btn-outline-danger px-1 py-0" href="/admin/articles/delete?articleId={{id}}">
                            <i class="bi bi-trash"></i>
                        </a>
                    </td>
                </tr>
                {{/each}}

            </tbody>
        </table>
    </div>
</div>